@import "../../../../app.config.scss";

.drawer {
  > div[class^="MuiPaper"] {
    position: relative;
    height: calc(100vh - #{$header_height});
    width: $sidebar_width;
    background-color:$background_color; //$primary;
    top: 0px;
    transition: 0.3s;
    overflow: hidden;
    @media screen and (max-width: 445px) {
      height: calc(100vh - #{$header_height_mobile});
    }
  }
  &.hide-sidebar {
    .MuiPaper-root {
      max-width: $sidebar_collapse_width !important;
      width: $sidebar_collapse_width !important;
      overflow-x: hidden;
      transition: 0.3s;
    }
    .MuiListItemText-root {
      display: none !important;
    }
  }
  .MuiListItemText-root {
    .MuiTypography-root {
      white-space: nowrap;
    }
  }

  div[class^="MuiButtonBase"] {
    padding-left: 15px;
    padding-right: 0px;
  }

  .MuiPaper-root {
    .MuiList-root {
      .menu-link {
        .link {
          a {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
      }
    }
  }

  .menu-link {
    padding: 3px 0px 3px 3px !important;
    .hide {
      display: none;
    }
    .link {
       display: flex;
      text-decoration: none;
      box-sizing: border-box;
       padding: 5px 0px 10px 5px;
      .MuiSvgIcon-root {
        border-radius: 100px;

        padding: 2px;
        font-size: 18px;
      }
      .MuiListItemText-root {
        margin: 0px;
        display: flex;
      }
      div[class^="MuiListItemText"] {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 3px;
      }

      div[class^="MuiListItemIcon"] {
        min-width: 35px;
      }

      div[class^="MuiListItemText"],
      div[class^="MuiListItemIcon"] {
        color:$font-color;

        span {
          color:$font-color;
          font-size: 13px;
        }
      }
      &:hover {
        background:$hover_background_color;
      }
      &:hover .MuiSvgIcon-root {
        color:$font-color;
      }
      &.active {
        background:$selected_background_color;
        border-left: 2px solid #fff;
      }
      &.active .MuiSvgIcon-root {
        color: $primary;
      }
    }
  }
  .MuiTypography-body1 {
    color:$font-color;
    font-size: 13px !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", Helvetica !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    letter-spacing: 0.00938em !important;
  }
}
.MuiList-padding {
   padding-top: 0px !important; 
  padding-bottom: 8px !important;
}
