.page-header {
    flex-grow: 1;
    .title {
      flex-grow: 1;
    }
    .menuButton {
      margin-right: 0px;
    }
    .MuiToolbar-gutters {
      padding: 0px 11px;
      min-height: 45px;
      .MuiTypography-h6 {
        font-size: 16px;
        margin-left: 0.4%;
        font-size: 1.25rem !important;
        font-family: Helvetica !important;
        font-weight: 500 !important;
        line-height: 1.6 !important;
      }
    }
    .MuiIconButton-root:hover {
      background-color: transparent !important ;
    }
    span.logo img {
      width: 35px;
      height: 30px;
    }
  }
  