@import '../../../../app.config.scss';

@mixin custom-scroller($axis, $bgcolor, $brodness: 4px) {
  @if ($axis == "y") {
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: $brodness;
    }
    &::-webkit-scrollbar-track {
      width: $brodness;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 20px 20px;
      background-color: $bgcolor;
      outline: 1px solid slategrey;
      opacity: 0.5;
      width: $brodness;
      &:hover {
        opacity: 1;
      }
    }
  }
  // overflow x-axis
  @if ($axis == "x") {
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      height: $brodness;
    }
    &::-webkit-scrollbar-track {
      height: $brodness;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 20px 20px;
      background-color: $bgcolor;
      outline: 1px solid slategrey;
      height: $brodness;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
}

@mixin scroller($bgcolor, $brodness: 6px) {
  overflow: auto;
  &::-webkit-scrollbar {
    width: $brodness;
    height: $brodness;
  }
  &::-webkit-scrollbar-track {
    width: $brodness;
    height: $brodness;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 20px 20px;
    background-color: $bgcolor;
    outline: 1px solid slategrey;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}
