@import '../../../app.config.scss';
 @import '../../../assets/sass/global-import';
@import '../../../assets/themes/default/share.scss';
.main-view {
  margin: 0px;
  margin-bottom: 0px;
  .main-content {
    background: $secondary;
    display: flex;
    .sidebar-cover {
      width: $sidebar_width;
      &.hide-sidebar {
        width: $sidebar_collapse_width;
      }
    }
    .dashboard-cover {
      width: calc(100% - #{$sidebar_width});

      &.hide-sidebar {
        width: calc(100% - 40px);
      }
    }
  }
}
