@import '../../../app.config.scss';
@import "../../../assets/sass/global-import";
body {
  font-family: Helvetica;
}
.btn-primary {
  background-color: $primary;
  color: $secondary;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: $font-text-size;
  svg.MuiSvgIcon-root {
    font-size: 12px;
    margin-right: 4px;
  }
}

.MuiIconButton-root:hover {
  background-color: transparent !important ;
}
tr.MuiTableRow-root.MuiTableRow-head {
  background:$table_header_color; 
  th.MuiTableCell-root.MuiTableCell-head {
    font-weight: 600;
    border-bottom: 0px solid $primary;
    padding: 0px 6px;
  }
}
.dashboard-cover {
  max-height: calc(100vh - 70px);
  @include custom-scroller("y", $scroller_color);
  margin: 10px;
  background: $secondary;
  .Innerheading {
   background: $secondary;
    @media screen and (max-width: 767px) {
      padding: 7px 4px;
      max-height: calc(100vh - 125px);
      overflow-y: auto;
      overflow-x: hidden;
    }
    @media screen and (max-width: 1024px) and (min-width: 768px) {
      padding: 7px 7px;
    }
    @media screen and (max-width: 1300px) and (min-width: 1024px) {
      padding: 7px 7px;
    }
    .InnerHeader {
      background-color: $headbackground_color;
      padding: 10px 15px;
      box-shadow: 1px 1px 11px 3px rgba(0, 0, 0, 0.3);
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: space-between;
      .blank {
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
      h3 {
        margin: 0px;
        font-size: 20px;
        font-weight: bold;
        font-family: Helvetica;
        color:$font-color;
        @media screen and (max-width: 767px) {
          font-size: $font-text-size;
        }
      }
      form {
        label {
          margin-bottom: 0px;
        }
      }
    }
    .Innerdetails {
      padding: 10px 0px;
      .maindiv {
        display: flex;
        text-align: center;
        align-items: center;
        height: 100vh;
        justify-content: center;
        h4 {
          font-size: 30px;
          font-weight: 600;
          color: $primary;
        }
      }
    }
  }
}
.dynamic-list {
  .footer {
    display: flex;
    justify-content: space-around;
    .MuiTypography-colorInherit {
      color: inherit;
      font-weight: 900;
      color: $primary;
    }
  }
}
.tab-color {
  background: #e9eaef !important;
  color: $primary !important;
  span[class*="PrivateTabIndicator-colorSecondary"] {
    background-color: $primary;
  }
  .MuiTab-wrapper {
    font-weight: bold;
    text-transform: capitalize;
    font-size: $font-text-size;
  }
}
.form-heading {
  font-size: $page_heading_font_size;
}
.multi {
  .MuiFormControl-root {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 100%;
    flex-direction: column;
    vertical-align: top;
    .MuiChip-root {
      padding: 8px;
      margin: 4px;
    }
  }
}

.modalpopoup {
  .MuiDialogTitle-root {
    color: $font-color;
  }
  .MuiTableRow-root {
    &:last-child {
      &:hover {
        background: transparent !important;
      }
    }
  }
  .MuiTableBody-root {
    .MuiTableCell-root {
      font-size: 12px;
      strong {
        font-weight: 700;
        color: $font-color;
      }
    }
  }
  .MuiDialogContent-dividers {
    padding: 16px 0px;
  }
}

.blank {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
