$sidebar_width: 180px;
$sidebar_collapse_width: 40px;
$header_height: 45px;
$header_height_mobile: 40px;
$primary:#0078D4;
$secondary: #fff;
$background: #ffffff;
$icon_font_size: 15px;
$font_icon: 18px;
$page_heading_font_size: 20px;
$hover_color: #c1c1c175;
$font-text-size: 12px;
$span-font-size: 13px;
$icon_font_size: 15px;
$font_icon: 18px;
$scroller_color:#0078D4;
$page_heading_font_size: 20px;
$font-family: "Helvetica";
$font-color: #000000;
$background_color: #f3f2f1;
$selected_font_color: #005a9e;
$selected_background_color: #c7e0f4;
$hover_background_color: #edebe9;
$tab_background_color: #ffffff;
$border_color: #ccc;
$table_header_color:#c2c0bd;
$headbackground_color: #f3f2f1;
