body {
  margin: 0;
  font-family: Helvetica;
}
.MuiTypography-body1 {
  font-family: Helvetica !important;
}
input,
strong,
label,
span,
div,
textarea,
button,
body,
li,
a,
b,
hr,
br,
h1,
h2,
h3,
h4,
h5,
h6,
legend,
nav,
option,
p,
select,
table,
td,
tr,
tbody,
thead {
  font-family: Helvetica !important;
}
